In [2]:
# EDA :: Learn how to handle the missing values. Use DS - Churn_Modelling.csv file.

import pandas as pd

churnmodeldf = pd.read_csv('https://github.com/muthukumaranrprepo/DataAnalyst-Python/blob/main/DataFiles/Churn_Modelling.csv?raw=True')
churnmodeldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9930 non-null   object
 6   Age              9950 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [3]:
#check for null values 
churnmodeldf.isnull().sum()

RowNumber           0
CustomerId          0
Surname             0
CreditScore         0
Geography           0
Gender             70
Age                50
Tenure              0
Balance             0
NumOfProducts       0
HasCrCard           0
IsActiveMember      0
EstimatedSalary     0
Exited              0
dtype: int64

In [5]:
#use dropna function to drop the null values
churnmodeldf_up = churnmodeldf.dropna(axis=1)
churnmodeldf_up.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Tenure           10000 non-null  int64
 6   Balance          10000 non-null  float64
 7   NumOfProducts    10000 non-null  int64
 8   HasCrCard        10000 non-null  int64
 9   IsActiveMember   10000 non-null  int64
 10  EstimatedSalary  10000 non-null  float64
 11  Exited           10000 non-null  int64
dtypes: float64(2), int64(8), object(2)
memory usage: 937.6+ KB

In [ ]:
# removing the records that has null values
churnmodeldf_up = churnmodeldf.dropna(axis=0)
churnmodeldf_up.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9930 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        9930 non-null   int64
 1   CustomerId       9930 non-null   int64
 2   Surname          9930 non-null   object
 3   CreditScore      9930 non-null   int64
 4   Geography        9930 non-null   object
 5   Gender           9930 non-null   object
 6   Age              9930 non-null   float64
 7   Tenure           9930 non-null   int64
 8   Balance          9930 non-null   float64
 9   NumOfProducts    9930 non-null   int64
 10  HasCrCard        9930 non-null   int64
 11  IsActiveMember   9930 non-null   int64
 12  EstimatedSalary  9930 non-null   float64
 13  Exited           9930 non-null   int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB