In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn import preprocessing
datadf = pd.read_csv('https://github.com/muthukumaranrprepo/DataAnalyst-Python/blob/main/DataFiles/Churn_Modelling.csv?raw=True')
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           9930 non-null   object
 6   Age              9950 non-null   float64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB

In [2]:
datadf.Gender.value_counts()

Male      5419
Female    4511
Name: Gender, dtype: int64

In [ ]:
#handle the missing values. Find the most used value with mode()
datadf.Gender.mode()

0    Male
Name: Gender, dtype: object

In [ ]:
#update the missing values using fillna with value returned by mode()
datadf['Gender'] = datadf.Gender.fillna('Male')
datadf.Gender.value_counts()

Male      5489
Female    4511
Name: Gender, dtype: int64