In [4]:
import pandas as pd 
import matplotlib.pyplot as plt


datadf = pd.read_csv(r'C:\Users\muthu\OneDrive\Desktop\test_dataset.csv')
datadf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   business_id   101 non-null    object
 1   name          100 non-null    object
 2   neighborhood  37 non-null     object
 3   address       93 non-null     object
 4   city          100 non-null    object
 5   state         100 non-null    object
 6   postal_code   98 non-null     object
 7   latitude      100 non-null    float64
 8   longitude     100 non-null    float64
 9   stars         100 non-null    float64
 10  review_count  100 non-null    float64
 11  is_open       100 non-null    float64
 12  categories    100 non-null    object
dtypes: float64(5), object(8)
memory usage: 10.4+ KB

In [16]:
sdf = datadf[['review_count', 'categories']]
sdf.head()

   review_count                                         categories
0           4.0                         Auto Detailing; Automotive
1          27.0  Personal Chefs;Food;Gluten-Free;Food Delivery ...
2           4.0  Dry Cleaning & Laundry;Laundry Services;Local ...
3           3.0  Wedding Planning;Caterers;Event Planning & Ser...
4           5.0  Notaries;Printing Services;Local Services;Ship...