In [1]:
#project 2 : IPL Data Analysis 
# created by Muthukumaran RP
import pandas as pd 
from pandasai import SmartDataframe
from pandasai.llm.openai import OpenAI
url = 'https://github.com/muthukumaranrprepo/DataAnalyst-Python/blob/main/DataFiles/IPLsquad23.csv?raw=true'
ipldata = pd.read_csv(url)
ipldata.info()

ParserError: Error tokenizing data. C error: Expected 1 fields in line 44, saw 91

In [ ]:
#project :: IPL Data Analysis 
#----------------------------
# Import the DataSet
import pandas as pd
url = 'https://github.com/muthukumaranrprepo/DataAnalyst-Python/blob/main/DataFiles/IPLsquad23.csv?raw=true'
ipldata = pd.read_csv(url)
ipldata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 8 columns):
Unnamed: 0         568 non-null int64
Player's List      568 non-null object
Base Price         568 non-null object
TYPE               568 non-null object
COST IN ₹ (CR.)    243 non-null float64
Cost IN $ (000)    243 non-null float64
2022 Squad         230 non-null object
Team               568 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 35.6+ KB

In [16]:
ipldata = ipldata.rename(columns={"Player's List": "Player_Name"})
ipldata.sample()

,Unnamed: 0,Player_Name,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2022 Squad,Team
542,542,Shivam Sharma,2000000,ALL-ROUNDER,NaN,NaN,NaN,Unsold

In [19]:
#Analysis 1: Which players are the most costliest buys?
#ipldata.sample()
maxplayer_cost = ipldata['COST IN ₹ (CR.)'].max()
maxplayer_cost 

player_name = ipldata.loc[(ipldata['COST IN ₹ (CR.)'] == maxplayer_cost),"Player_Name"]
player_name

print("The most costliest player is",player_name,"with a cost of",maxplayer_cost,"crores.")

The most costliest player is 97    Sam Curran
Name: Player_Name, dtype: object with a cost of 18.5 crores.